body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 20px;
    border: 2px solid black;
    width: 450px;
    height: 450px;
}

.board {
    border: 1px solid black;
    width: 402px;
    height: 402px;
}

.board div {
    padding: 7px;
    float: left;
    width: 50px;
    height: 50px;
}
.black {
    background-color: black;
}